
input[type='button']{display:inline-block;margin-right:5px}

label{display:inline-block;margin-bottom:10px;}

input[type='checkbox']{display:inline-block}

.dd select{display:block;}

ul{list-style-type:square;}